<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbox Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <button class="chatbot-button" onclick="toggleChatbox()">
        <img src="{{ url_for('static', filename='bot_image.png') }}" alt="Chatbot">
        <span class="notification-dot" id="notification-dot"></span>
    </button>

    <div class="chatbox" id="chatbox">
        <div class="chatbox-header">
            <h3>Helper</h3>
            <!-- <button class="close-button" onclick="toggleChatbox()">X</button> -->
        </div>
        <div class="chatbox-content" id="chatbox-content"></div>
        <div class="chatbox-input-container">
            <input type="text" class="chatbox-input" id="chatbox-input" placeholder="Enter a message...">
            <button class="send-button" onclick="sendMessage()"><img src="{{ url_for('static', filename='send.png') }}"
                    alt="Send"></button>
        </div>
    </div>

    <audio id="notification-sound" src="{{ url_for('static', filename='notification.mp3') }}" preload="auto"></audio>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>